.main-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.main-container ul {
    list-style: none;
    display: grid;
    background-color: rgb(245, 243, 243);
    margin: 30px;
}

.main-container ul li {
    display: grid;
    flex-direction: column;
}