 .main-container {
    max-width: 780px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.main-container .header-container {
    display: flex;
}

.main-container ul {
    list-style: none;
    display: grid;
    gap: 30px;
}

.main-container ul li#tool-li {
    display: inline;
    background-color: rgb(245, 243, 243);
    text-align: left;
    padding: 10px;
}

.main-container ul li#tag-li {
    display: inline;
    flex-direction: column;
    background-color: rgb(245, 243, 243);
    text-align: left;
}